<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BIA HOMEWORK</title>
</head>
<body>
    <!-- navbar  -->
    <header>
        <div class="container">
            <nav class="navbar">
                <h1>VEHICLE</h1>
                <ul class="navs">
                    <li><a href=""> Home</a></li>
                    
                    <li> <a asp-area="" asp-controller="Transport" asp-action="Index">Transport Controller</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- slider  -->
    <div class="container">
        <div class="slider">
            <div class="text">
                <h1 class="title one">Welcome To SVU Transport!</h1>
                <p class="desc">our site that helps improve transportation services,
                    the best load in a cargo truck, 
                    and determining the best route based on genetic and dynamic algorithms.</p>
                
            </div>
            <img src="~/css/slider1.jpg" alt="">
        </div>


    <footer class="footer">
        <p>Copy right &copy; 2024 Transportation services improvement website </p>
    </footer>
</body>
</html>
